html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1em;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Colaborate Thin";
	background-color: #e7e8ea;
}

section button {
	background: linear-gradient(to top, #184386, #2d6bc2);
	border-radius: 10px;
	border: none;
	font-size: 19px;
}

button a{
	text-decoration: none;
	color: #ffffff;
}

a {
	text-decoration: none;
}

.gradient {
	background: linear-gradient(to top, #e7e8ea, #1b1b2b);
}
 
.row {
	padding: 37px 180px;
}

.row-footer {
	padding: 0px 180px;
}

/*----------------------------------------------------------Голова-------------------------------------------------*/
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 50px;
}


.logo {
	width: 260px;
	font-family: "Flare Light Gothic";
	padding-right: 132px;
}

.logo-img {
	float: left;
	padding-right: 5px;
}

.logo-title h1{
	font-size: 39px;
	margin-top: 10px;
	color: #ffffff;
}

.logo-pretitle {
	padding-left: 45px;
	line-height: 1px;
	font-size: 17px;
	color: #ffffff;
	font-family: "Franklin Gothic Book";
}

.page a{
	color: #ffffff;
	font-size: 17px;
	padding: 5px 10px;
	font-family: "ColaborateLight";
	border-radius: 10px;
	transition: ease 0.4s;
}

.page a:hover {
	background-color: #ffffff;
	color: #000000;
}

/*----------------------------------Ipad------------------------------------------*/

.header-section {
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

.header-title h1{
	font-size: 45px;
	color: #e7e8ea;
	font-family: "ChunkFive";
	text-transform: uppercase;
}

.header-pretitle h3{
	font-size: 39px;
	font-family: "AlexandriaFLF";
	color: #d7d7e3;
	line-height: 1px;
	margin: 0px;
}

.header-pretitle h3 span{
	font-family: "AlexandriaFLF Bold";
	color: #d7d7e3;
}

.header-text {
	font-family: "Colaborate-Thin";
	font-size: 23px;
	color: #d7d7e3;
	line-height: 0.2;
	padding-top: 15px;
}

.text-title {
	padding-top: 25px;
	padding-right: 30px;
	text-align: right
}

.text-button {
	padding-bottom: 20px;
	padding-top: 20px;
}

.text-button button{
	padding: 10px 38px;
	cursor: pointer;
	font-size: 23px;
}

.ipad-shadow {
	margin-top: -30px;
}

/*---------------------------------------------------Боксы---------------------------------------------------*/

.boxes-section {
	display: flex;
	justify-content: space-between;
}

.box {
	background: linear-gradient(to top, #e2e2e2, #ffffff);
	border-radius: 5px;
	border: 3px solid #ffffff;
	width: 234px;
	height: 151px;
	align-items: center;
}

.box .box-img1 {
	padding-top: 5px;
	padding-left: 15px;
}

.box .box-img2 {
	padding-top: 8px;
	padding-left: 25px;
}

.box .box-img3 {
	padding-top: 20px;
	padding-left: 60px;
	padding-bottom: 10px;
}

.box .box-img4 {
	padding-top: 20px;
	padding-left: 45px;
	padding-bottom: 6px;
}

.box .box-new {
	position: absolute;
	right: 183px;
}

.box .box-text {
	text-align: center;
	color: #8c8c92;
	font-family: "Calibri";
	font-size: 19px;
}

.box-text p {
	margin: 0;
}

/*--------------------------------------------------Категории--------------------------------------*/

.category-section {
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
	font-family: "ColaborateLight";
	color: #505050;
}

.category {
	width: 290px;
	height: 120px;
}

.category-img {
	float: left;
	padding-right: 5px;
}

.category-title h2{
	margin: 0;
	padding: 5px 0px;
	font-size: 25px;
}

.category-pretitle p {
	margin: 0;
	color: #8795a9;
	font-size: 15px;
}

.category-text p {
	font-size: 14px;
	line-height: 1.3;
	text-align: justify;
}

.slider-text {
	text-align: center;
	margin-top: 25px;
	height: 75px;
	background-color: #ecedee;
	border-top: 1px solid #dcddde;
	border-bottom: 1px solid #dcddde;
}

.slider-text p {
	width: 590px;
	margin: 0 auto;
	padding-top: 15px;
	line-height: 1.4;
	font-family: "Contra";
	color: #b7b7b8;
	font-size: 16px;
}

.slider-text span {
	color: #94a1b3;
}


/*---------------------------------------------------Продукты--------------------------------------*/


.img-product {
	float: left;
	padding-right: 32px;
}

.title-product {
	margin: 0 auto;
	width: 435px;
	line-height: 0.1;
}

.title-product h2 {
	font-family: "ColaborateLight";
	font-size: 27px;
	color: #868b93;
}

.title-product p {
	font-family: "ColaborateLight";
	font-size: 15px;
	margin-left: 5px;
	color: #5f7390;
}


.audio-product {
	padding-top: 25px;
}

.audio-product .audio {
	padding-top: 15px;
	font-family: "ColaborateLight";
	font-size: 15px;
	color: #828181;
}

.audio-product .audio img{
	padding-right: 10px;
}

.one{
	float: left;
}

.button-product {
	padding: 32px 61px;
	padding-right: 21px; 
	padding-bottom: 0px;
}

.button-product button{
	padding: 6.5px 20px;
	cursor: pointer;
	font-size: 19px;
}

/*----------------------------------------Новости------------------------------------------------*/

.news-text img {
	float: left;
	padding-right: 10px;
}

.news {
	border-top: 1px solid #d7d8da;
	border-bottom: 1px solid #d7d8da;
}

.news-text {
	font-family: "ColaborateLight";
	font-size: 15px;
	color: #828181;
	padding-left: 5px;
}

/*---------------------------------------------Подвал--------------------------------------------*/


footer {
	background: radial-gradient(at top, #5c5c74, #353546);
	width: 100%;
}

.footer { 
	padding-top: 1px;
}

.twiter {
	border-top: 1px solid #9b9ba7;
	border-bottom: 1px solid #5c5c74;
	padding: 10px 0px;
}

.img-twiter {
	float: left;
	padding-right: 20px; 
}

.img-twiter img {
	padding: 20px 14px;
	background-color: #e7e8ea;
	border-radius: 50% 50%;
}

.twiter-text {
	font-family: "Contra";
	font-size: 13px;
	color: #9999a1;
}

 .twiter-text p{
    line-height: 2;
    margin: 0;
    padding-top: 5px;
    width: 720px;
    display: inline-block;
}

.twiter-author {
	font-family: "Contra Italic";
	font-size: 15px;
	color: #b4b4b9;
}

.twiter-author p {
	margin: 0;
	text-align: right;
	padding-right: 100px;
}

.tel {
	display: flex;
	justify-content: space-between;
}

.letter-title h2{
	font-family: "ColaborateLight";
	font-size: 25px;
	color: #ffffff;
}

.letter-text {
	line-height: 1.5;
	width: 355px;
	font-family: "ColaborateLight";
	font-size: 14px;
	color: #b7b7bb;
}

.input-letter {
	padding-top: 10px;
}

.input-letter input {
	background-color: #242439;
	border: none;
	height: 25px;
	width: 215px;
	border-radius: 5px;
	color: #fff;
	padding-left: 5px;
}

.input-letter button {
	margin-left: 20px;
	padding: 5px 15px;
	border-radius: 10px;
	background-color: #e7e8ea;
	color: #000;
	cursor: pointer;
	font-size: 14px;
}

.dawn {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.contact-form {
	padding-left: 220px;
}

.contact-form h2{
	font-family: "ColaborateLight";
	font-size: 25px;
	color: #fff;
}

.form {
	padding-top: 10px;
}

.form input{
	padding-left: 5px;
	border-radius: 5px;
	width: 190px;
	background-color: #242439;
	border: none;
	height: 25px;
	color: #fff;
}

.comment-form {
	padding-top: 65px;
}

.comment-form textarea{
	border-radius: 5px;
	background-color: #242439;
	border: none;
	resize: vertical;
	color: #fff;
	resize: none;
	padding: 5px;
}

.social-icon .icon { 
	float: left;
	padding-left: 10px;
}

.rights {
	font-size: 14px;
	font-family: "ColaborateLight";
	color: #b7b7bc;
	padding-right: 40px;
	padding-top: 10px;
}

.button-form {
	padding-top: 15px;
}

.button-form button{
	padding: 5px 20px;
	border-radius: 10px;
	background-color: #e7e8ea;
	color: #000;
	cursor: pointer;
	font-size: 14px;
}


/*Доделать*/

/*---------------------------------------------------Адаптивность------------------------------------------------*/





